torch 
torchvision 
torchaudio
scikit-learn
matplotlib
imbalanced-learn
seaborn
nltk
textblob==0.17.1
gensim
huggingface_hub 
hf_transfer
transformers
einops
accelerate
mlx
word2number 
fuzzywuzzy 
python-Levenshtein
mlx-lm
decorator==5.1.1
psutil==5.9.8
typing_extensions==4.11.0
attrs==23.2.0
scipy==1.10.1
cloudpickle==3.0.0
ml_dtypes==0.2.0
tornado==6.4